[Desktop Entry]
Type=Service
Name=Mobipocket Files
Name[bg]=Файлове за Mobipocket
Name[de]=Mobipocket-Dateien
Name[en_GB]=Mobipocket Files
Name[es]=Archivos Mobipocket
Name[et]=Mobipocketi failid
Name[hr]=Mobipocket datoteke
Name[nds]=Mobipocket-Dateien
Name[nl]=Mobipocket-bestanden
Name[pa]=ਮੋਬੀਪਾਕਟ ਫਾਇਲਾਂ
Name[pt]=Ficheiros do Mobipocket
Name[pt_BR]=Arquivos do Mobipocket
Name[sv]=Mobipocket-filer
Name[uk]=Файли Mobipocket
Name[x-test]=xxMobipocket Filesxx
Name[zh_TW]=Mobipocket 檔案
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-mobipocket-ebook;
X-KDE-Library=mobithumbnail
CacheThumbnail=true

