[Desktop Entry]
Type=Service
Name=Mobipocket thumbnailer
Name[ar]=مولد مصغرات Mobipocket
Name[ast]=Xenerador de miniatures Mobipocket
Name[bg]=Умалени копия за Mobipocket
Name[ca]=Miniaturitzador de Mobipocket
Name[ca@valencia]=Miniaturitzador de Mobipocket
Name[da]=Mobipocket-miniaturer
Name[de]=M
Name[el]=Δημιουργία εικόνων επισκόπησης Mobipocket
Name[en_GB]=Mobipocket thumbnailer
Name[es]=Generador de miniaturas Mobipocket
Name[et]=Mobipocketi pisipildid
Name[eu]=Mobipocket koadro txikia
Name[fr]=Création de miniatures Mobipocket
Name[ga]=Mionsamhlóir Mobipocket
Name[gl]=Miniaturas de Mobipocket
Name[hr]=Generator sličica za Mobipocket
Name[hu]=Mobipocket betekintő
Name[is]=Mobipocket smámyndagerð
Name[it]=Generatore anteprime Mobipocket
Name[ja]=Mobipocket のサムネイル作成
Name[km]=កម្មវិធីបង្កើត​រូបភាព​តូចៗ​របស់ Mobipocket
Name[ko]=Mobipocket 미리 보기 생성기
Name[lv]=Mobipocket sīktēlu veidotājs
Name[nb]=Mobipocket minibilder
Name[nds]=Mobipocket-Vöransichten
Name[nl]=Mobipocket-miniatuurmaker
Name[nn]=Miniatyrbiletlaging for Mobipocket
Name[pl]=Miniatury Mobipocket
Name[pt]=Miniaturas para o Mobipocket
Name[pt_BR]=Miniatura do Mobipocket
Name[ru]=Создание миниатюр Mobipocket
Name[sk]=Mobipocket náhľady
Name[sl]=Ustvarjalnik sličic za Mobipocket
Name[sr]=Генератор сличица за Мобипокет
Name[sr@ijekavian]=Генератор сличица за Мобипокет
Name[sr@ijekavianlatin]=Generator sličica za Mobipocket
Name[sr@latin]=Generator sličica za Mobipocket
Name[sv]=Mobipocket miniatyrbilder
Name[tr]=Mobipocket küçük resim oluşturucu
Name[uk]=Інструмент створення мініатюр Mobipocket
Name[x-test]=xxMobipocket thumbnailerxx
Name[zh_CN]=Mobipocket 缩略图器
Name[zh_TW]=Mobipocket thumbnailer
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-mobipocket-ebook;
X-KDE-Library=mobithumbnail
CacheThumbnail=true

