[Desktop Entry]
Type=Service
Name=Mobipocket Files
Name[bg]=Файлове за Mobipocket
Name[ca]=Fitxers Mobipocket
Name[ca@valencia]=Fitxers Mobipocket
Name[da]=Mobipocket-filer
Name[en_GB]=Mobipocket Files
Name[es]=Archivos de Mobipocket
Name[et]=Mobipocketi failid
Name[eu]=Mobipocket fitxategiak
Name[fi]=Mobipocket-tiedostot
Name[fr]=Fichiers « Mobipocket »
Name[hr]=Mobipocket datoteke
Name[hu]=Mobipocket-féjlok
Name[ia]=Files de Mobipocket
Name[is]=Mobipocket skrár
Name[it]=File Mobipocket
Name[kk]=Mobipocket файлдары
Name[km]=ឯកសារ Mobipocket
Name[nds]=Mobipocket-Dateien
Name[nl]=Mobipocket-bestanden
Name[pa]=ਮੋਬੀਪਾਕਟ ਫਾਇਲਾਂ
Name[ru]=Электронные книги Mobipocket
Name[si]=Mobipocket ගොනු
Name[sl]=Datoteke Mobipocket
Name[sv]=Mobipocket-filer
Name[uk]=Файли Mobipocket
Name[vi]=Tệp Mobipocket
Name[x-test]=xxMobipocket Filesxx
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-mobipocket-ebook;
X-KDE-Library=mobithumbnail
CacheThumbnail=true

