[Desktop Entry]
Type=Service
Name=RAW Photo Camera files
Name[ar]=الملفات الخامة RAW لآلة التصوير
Name[ca]=Fitxers RAW de càmera de fotos
Name[cs]=RAW soubory z fotoaparátu
Name[da]=RAW kamera-filer
Name[de]=RAW-Fotokamera-Dateien
Name[el]=RAW αρχείο φωτογραφικήςκάμερας
Name[en_GB]=RAW Photo Camera files
Name[es]=Archivos RAW de cámara fotográfica
Name[et]=Kaamera toorfailid
Name[fr]=Fichiers RAW d'appareil photo numérique
Name[gl]=Ficheiros RAW de cámara de fotos
Name[hu]=RAW-fájlok
Name[is]=RAW myndavélaskrár
Name[it]=File grezzi fotocamera digitale
Name[km]=ឯកសារ​ម៉ាស៊ីន​ថត​រូប​ដើម
Name[ko]=RAW 사진 카메라 파일
Name[lv]=RAW fotogrāfiju faili
Name[nb]=RAW foto kamerafiler
Name[nds]=RAW-Fotokamera-Dateien
Name[nl]=Bestanden met RAW-camera-afbeelding
Name[nn]=RAW-kamerafiler
Name[pa]=RAW ਫੋਟੋ ਕੈਮਰਾ ਫਾਇਲਾਂ
Name[pl]=Pliki RAW z aparatów cyfrowych
Name[pt]=Ficheiros de máquinas fotográficas RAW
Name[pt_BR]=Arquivos RAW de câmeras fotográficas
Name[ru]=Необработанные Файлы с цифровой камеры (RAW)
Name[sk]=RAW súbory z digitálneho fotoaparátu
Name[sl]=Surove datoteke s fotoaparata
Name[sr]=Сирови фајлови с камере
Name[sr@latin]=Sirovi fajlovi s kamere
Name[sv]=Obehandlade kamerafotofiler
Name[tr]=HAM Fotoğraf Makinesi dosyaları
Name[uk]=Цифрові негативи фотоапаратів
Name[x-test]=xxRAW Photo Camera filesxx
Name[zh_CN]=RAW 照片相机文件
Name[zh_TW]=原始相機檔
X-KDE-ServiceTypes=ThumbCreator
MimeType=image/x-canon-cr2;image/x-canon-crw;image/x-nikon-nef;image/x-adobe-dng;image/x-kodak-dcr;image/x-kodak-k25;image/x-kodak-kdc;image/x-olympus-orf;image/x-sony-arw;image/x-sony-sr2;image/x-sony-srf;image/x-fuji-raf;image/x-minolta-mrw;image/x-panasonic-raw;image/x-pentax-pef;image/x-sigma-x3f;image/x-kde-raw;
X-KDE-Library=rawthumbnail
CacheThumbnail=true
