[Desktop Entry]
Type=Service
Name=RAW Photo Camera Files
X-KDE-ServiceTypes=ThumbCreator
# image/x-dcraw is the subclass for all "raw" image formats, so no need to list them all
MimeType=image/x-dcraw;
X-KDE-Library=rawthumbnail
CacheThumbnail=true
