[Desktop Entry]
Type=Service
Name=Blender files
Name[ca]=Fitxers del Blender
Name[nl]=Blender-bestanden
Name[sv]=Blender-filer
Name[uk]=Файли Blender
Name[x-test]=xxBlender filesxx
Name[zh_TW]=Blender 檔案
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-blender;
X-KDE-Library=blenderthumbnail
CacheThumbnail=true
