[Desktop Entry]
Type=Service
Name=PostScript, PDF and DVI Files
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-dvi;application/postscript;application/pdf;image/x-eps;
X-KDE-Library=gsthumbnail
CacheThumbnail=true
