[Desktop Entry]
Type=Service
Name=PostScript, PDF and DVI Files
Name[ar]=ملفات PostScript, PDF و DVI
Name[ast]=Ficheros PostScript, PDF y DVI
Name[bg]=Файлове PostScript, PDF и DVI
Name[br]=Restroù PostScript, PDF ha DVI
Name[bs]=Postskript, PDF i DVI datoteke
Name[ca]=Fitxers PostScript, PDF i DVI
Name[ca@valencia]=Fitxers PostScript, PDF i DVI
Name[cs]=Postscriptové, PDF a DVI soubory
Name[cy]=Ffeiliau PostScript, PDF a DVI
Name[da]=PostScript, PDF- og DVI-filer
Name[de]=PostScript-, PDF- und DVI-Dateien
Name[el]=Αρχεία PostScript, PDF και DVI
Name[en_GB]=PostScript, PDF and DVI Files
Name[eo]=Postskriptaj, PDF kaj DVI dosieroj
Name[es]=Archivos PostScript, PDF y DVI
Name[et]=PostScript-, PDF- ja DVI-failid
Name[eu]=PostScript, PDF eta DVI fitxategiak
Name[fa]=پرونده‌های PostScript، PDF و  DVI
Name[fi]=PostScript-, PDF- ja DVI-tiedostot
Name[fr]=Fichiers « PostScript », « PDF » et « DVI »
Name[ga]=Comhaid PostScript, PDF agus DVI
Name[gl]=Ficheiros PostScript, PDF e DVI
Name[he]=קבצי PostScript, PDF ו־DVI
Name[hi]=पोस्ट-स्क्रिप्ट, पीडीएफ तथा डीवीआई फ़ाइलें
Name[hne]=पोस्ट-स्क्रिप्ट, पीडीएफ अउ डीवीआई फाइल मन ल
Name[hr]=Datoteke oblika PostScript, PDF i DVI
Name[hu]=PostScript-, PDF- és DVI-fájlok
Name[ia]=Files PostScript, PDF e DVI
Name[is]=PostScript, PDF og DVI skrár
Name[it]=File PostScript, PDF e DVI
Name[ja]=PostScript, PDF, DVI ファイル
Name[kk]=PostScript, PDF және DVI файлдары
Name[km]=ឯកសារ PostScript, PDF និង DVI
Name[ko]=포스트크스립트, PDF, DVI 파일
Name[ku]=Pelên PostScript, PDF û DVI
Name[lt]=Postscript, PDF ir DVI failai
Name[lv]=Postscript, PDF un DVI faili
Name[mr]=पोस्टस्क्रिप्ट, PDF व DVI फाईल्स
Name[ms]=PostScript, PDF dan Fail DVI
Name[nb]=PostScript, PDF og DVI filer
Name[nds]=PostScript-, PDF- un DVI-Dateien
Name[ne]=पोष्टस्क्रिप्ट, पीडीएफ र डीभीआई फाइल
Name[nl]=PostScript-, DVI- en PDF-bestanden
Name[nn]=PostScript-, PDF- og DVI-filer
Name[pa]=ਪੋਸਟ-ਸਕ੍ਰਿਪਟ, PDF ਅਤੇ DVI ਫਾਇਲਾਂ
Name[pl]=Pliki PostScript, PDF i DVI
Name[pt]=Ficheiros PostScript, PDF e DVI
Name[pt_BR]=Arquivos PostScript, PDF e DVI
Name[ro]=Fișiere PostScript, PDF și DVI
Name[ru]=Файлы PostScript, PDF и DVI
Name[se]=PostScript-, PDF- ja DVI-fiillat
Name[si]=PostScript, PDF සහ DVI ගොනු
Name[sk]=PostScript, PDF a DVI súbory
Name[sl]=Datoteke PostScript, PDF in DVI
Name[sr]=Постскрипт, ПДФ и ДВИ фајлови
Name[sr@ijekavian]=Постскрипт, ПДФ и ДВИ фајлови
Name[sr@ijekavianlatin]=PostScript, PDF i DVI fajlovi
Name[sr@latin]=PostScript, PDF i DVI fajlovi
Name[sv]=Postscript-, PDF- och DVI-filer
Name[ta]= போஸ்ட்கிரிப்ட், பிடிஃப் மற்றும் டிவிஐ கோப்புகள்
Name[tg]=Файлҳои PostScript, PDF ва DVI
Name[th]=แฟ้ม PDF, DVI และ โพสต์สคริปต์
Name[tr]=PostScript, PDF ve DVI Dosyaları
Name[ug]=PostScript، PDF ۋە DVI ھۆججەتلىرى
Name[uk]=Файли PostScript, PDF та DVI
Name[uz]=PostScript, PDF va DVI fayllari
Name[uz@cyrillic]=PostScript, PDF ва DVI файллари
Name[vi]=Các tập tin PostScript, PDF và DVI
Name[x-test]=xxPostScript, PDF and DVI Filesxx
Name[zh_CN]=PostScript、PDF 和 DVI 文件
Name[zh_HK]=PostScript 、PDF 及 DVI 檔案
Name[zh_TW]=PostScript，PDF 與 DVI 檔 
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-dvi;application/postscript;application/pdf;image/x-eps;
X-KDE-Library=gsthumbnail
CacheThumbnail=true
